* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --index: calc(1vh + 1vw);
}

@font-face {
  font-family: raleway_f;
  src: url(../fonts/raleway-regular.woff2);
}

@font-face {
  font-family: raleway_f;
  src: url(../fonts/raleway-black.woff2);
  font-weight: 900;
}

body{
  background-color: rgb(15, 15, 15);
  color: beige;
  font-family: raleway_f, sans-serif;
  line-height: 1.2;
}

.main-header{
  position: relative;
}

.main-header::after{
  content: '';
  position: absolute;
  z-index: 100;
  width: 100%;
  height: calc(var(--index) * 2.5);
  background-image: url(../img/ground.png);
  background-size: 100% 100%;
  bottom: calc(var(--index)*-1.1);
  background-repeat: no-repeat;
}

.layers{
  height: 100vh;
  display: flex;
  overflow: hidden;
  position: relative;
}

.layer{
  height: 100%;
  width: 100%;
  position: absolute;
  background-size: cover;
  background-position: center;
  will-change: transform;
}

.layers__base{
  transform: translate3d(0, calc(var(--scrollTop)/1.6), 0);
}

.layers__middle{
  transform: translate3d(0, calc(var(--scrollTop)/2.5), 0);
  z-index: 2;
}

.layers__front{
  transform: translate3d(0, calc(var(--scrollTop)/5.7), 0);
  z-index: 4;
}

.layer__messenger{
  z-index: 5;
  will-change: transform;
  transform: translate3d(0, calc(var(--scrollTop)/2), 0);
  padding-left: 4vw;
  padding-right: 4vw;
  text-transform: uppercase;
  font-weight: 900;
}

.main-article{
  min-height: 100vh;
  height: 100%;
  width: 100%;
  position: relative;
  display: flex;
  background-size: cover;
  background-position: center;
  text-align: center;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.layer__messenger-logo{
  position: relative;
  text-align: center;
  font-size: calc(var(--index));
}

.layer__chat_list{
  position: relative;
  display: inline-block;
  overflow-x: scroll;
  overflow-y: hidden;
  max-height: calc(var(--index)*4);
  width:92vw;
  text-transform: none;
}

.contact{
  position: relative;
  float: left;
  flex: calc(var(--index)*12) 0 0;
  margin-right: calc(var(--index)/2);
  margin-bottom: calc(var(--index)/2);
  min-height: calc(var(--index)*3.7);
  width: calc(var(--index)*12);
  padding: calc(var(--index)/3);
  background-color: var(--blockColor);
  border-color: var(--blockColorHover);
  border-radius: 10px 10px 10px 10px;
  color: rgb(216, 216, 216);
}

.contact:hover{
  position: relative;
  margin-bottom: calc(var(--index)/2);
  min-height: calc(var(--index)*3.7);
  width: calc(var(--index)*12);
  padding: calc(var(--index)/3);
  background-color: var(--blockColorHover);
  border-radius: 10px 10px 10px 10px;
  color: rgb(216, 216, 216);
  border-color: var(--blockColorHover);
}

.contact:hover .delete_contact_button{
  position: absolute;
  top: calc(var(--index)*0.9);
  left: calc(var(--index)*9.5);
  height: 100%;
  width: 100%;
  max-width: calc(var(--index)*2);
  max-height: calc(var(--index)*2);
  border-radius: 30px 30px 30px 30px;
  background-size: cover;
  background-position: center;
}

.contact_ava{
  position: absolute;
  top: calc(var(--index)/5);
  height: 100%;
  width: 100%;
  max-width: calc(var(--index)*3);
  max-height: calc(var(--index)*3);
  border-radius: 30px 30px 30px 30px;
  background-size: cover;
  background-position: center;
}

.contact_username{
  position: relative;
  font-weight: 400;
  margin-left: calc(var(--index)*3.5);
  font-size: calc(var(--index)*var(--fontSizeCoff));
}

.layer__chat-territory{
  position: relative;
  display: flex;
}
.chat-item{
  position: relative;
  flex: calc(25vw) 0 0;
}

.layer__userinfo{
  position: relative;
  max-width: 23vw;
  min-height: calc(var(--index)*2.5);
  color:rgb(182, 182, 182);
  padding: 5px;
  border-radius: 10px 10px 10px 10px;
}

.contact_ava_info{
  height: 100%;
  width: 100%;
  max-width: calc(var(--index)*2);
  max-height: calc(var(--index)*2);
  border-radius: 30px 30px 30px 30px;
  position: absolute;
  background-size: cover;
  background-position: center;
}

.contact_username_info{
  position: absolute;
  margin-left: calc(var(--index)*2.8);
  margin-top: calc(var(--index)/5);
  font-size: calc(var(--index)* 1.5 *var(--fontSizeCoff));
  font-weight: 400;
  text-transform: none;
}

.contact__to-settings-button{
  position: absolute;
  margin-left: calc(19vw);
  margin-top: calc(var(--index)/10);
  max-width: calc(var(--index)*2);
  max-height: calc(var(--index)*2);
  height: 100%;
  width: 100%;
  background-size: cover;
}

.layer__messages_field{
  position: relative;
  flex: calc(var(--index)*12) 0 0;
  margin-top: calc(var(--index)/3);
  min-width: calc(1.5vw*30);
  max-height: calc(var(--index)*18.5);
  overflow-y: scroll;
}

.message{
  position: relative;
  color: rgb(207, 207, 207);
  text-transform: none;
  margin-bottom: calc(var(--index)/3);
  max-width: calc(var(--index)*30); 
  border-radius: 10px 10px 10px 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  flex-wrap: nowrap;
  padding: 5px;
  background-color: var(--blockColor);
}

.message:hover{
  position: relative;
  color: rgb(207, 207, 207);
  text-transform: none;
  margin-bottom: calc(var(--index)/3);
  max-width: calc(var(--index)*30);
  border-radius: 10px 10px 10px 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  flex-wrap: nowrap;
  padding: 5px;
  background-color: var(--blockColorHover);
}

.message_contact_ava{
  position: absolute;
  top: calc(var(--index)/5);
  height: 100%;
  width: 100%;
  max-width: calc(var(--index)*2);
  max-height: calc(var(--index)*2);
  border-radius: 30px 30px 30px 30px;
  background-size: cover;
  background-position: center;
}

.message_contact_username{
  position: relative;
  font-weight: 400;
  color: rgb(255, 205, 141);
  margin-left: calc(var(--index)*2.2);
  font-size: calc(var(--index)* 0.9 *var(--fontSizeCoff));
}

.message_text{
  font-weight: 400;
  margin-left: calc(var(--index)*2.2);
  font-size: calc(var(--index)* 0.8 *var(--fontSizeCoff));
}

.text_input_field{
  position:absolute;
  border-radius: 10px 10px 10px 10px;
  top:calc(var(--index)*25.5);
  left:29vw;
  background-color: var(--blockColor);
  font-weight: 400;
  font-size: calc(var(--index)*var(--fontSizeCoff));
  border-color: rgba(209, 164, 112, 0.664);
  color: rgb(214, 214, 214);
  min-height: calc(var(--index)*3);
  min-width: calc(1.5vw*30);
}


.main-article__container_settings{
  position: relative;
  margin-bottom: calc(var(--index)*10);
  text-transform: none;
  font-weight: 400;
  transform: translate3d(0, calc(var(--scrollTop)/5), 0);
}

.main-article__settings_header{
  position: relative;
  margin-bottom: calc(var(--index));
  font-size: calc(var(--index)* 1.5 *var(--fontSizeCoff));
}

.main-article__ava_changer{
  padding: 10px;
  position: relative;
  display: flex;
  align-items: center;
  max-height: calc(var(--index)*8.5);
  max-width: calc(var(--index)*13);
  min-height: calc(var(--index)*3.2);
  background-color: var(--blockColor);
  border-radius: 10px 10px 10px 10px;
}

.ava_in_changer{
  position: absolute; 
  height: 100%;
  width: 100%;
  border-radius: 30px 30px 30px 30px;
  background-size: cover;
  background-position: center;
  max-width: calc(var(--index)*3);
  max-height: calc(var(--index)*3);
}

.change_avatar{
  font-weight: 400;
  position: relative;
  margin-left: calc(var(--index)*3.2);
  font-size: calc(var(--index)*var(--fontSizeCoff));
}

.main-article__password_changer{
  position: relative;
  display: grid;
  place-items: center;
  margin-top: calc(var(--index)/2);
  background-color: var(--blockColor);
  max-height: calc(var(--index)*8.5);
  max-width: calc(var(--index)*13);
  border-radius: 10px 10px 10px 10px;
  padding: 10px;
}

.new_password, .confirm_password{
  position: relative;
  font-weight: 400;
  font-size: calc(var(--index)*var(--fontSizeCoff));
}

.new_password_input, .confirm_password_input{
  position: relative;
  height: calc(var(--index) *1.5);
  width: calc(var(--index) *10);
  border-color: rgb(255, 255, 255);
  background-color: rgba(240, 248, 255, 0.116);
  border-radius: 10px 10px 10px 10px;
  font-size: calc(var(--index) *1.5);
  color: beige;
  border-radius: 10px 10px 10px 10px;
}

.check_password{
  position: absolute;
  max-width: calc(var(--index) * 1.5);
  max-height: calc(var(--index) * 1.5);
  margin-bottom: calc(var(--index) * calc(1 - calc(var(--fontSizeCoff)*0.25))* 4);
  margin-left: calc(var(--index) * 7.5);
}

.check_conf_password{
  position: absolute;
  max-width: calc(var(--index) * 1.5);
  max-height: calc(var(--index) * 1.5);
  margin-top: calc(var(--index) * var(--fontSizeCoff) * 2.4);
  margin-left: calc(var(--index) * 7.5);
}

.main-article__enter_button{
  position: relative;
  min-width: calc(var(--index)*7);
  max-height: calc(var(--index) * 1.5);
  font-weight: 400;
  margin-top: calc(var(--index)/2);
  font-size: calc(var(--index));
  background-color:rgba(141, 141, 141, 0.514);
  border-radius: 10px 10px 10px 10px;
  font-size: calc(var(--index)*var(--fontSizeCoff));
  border-color: aliceblue;
  text-decoration: none;
  color: beige;
}

.main-article__send_button{
  position: absolute;
  min-width: calc(var(--index)*7);
  max-height: calc(var(--index) * 1.5);
  left:46vw;
  font-weight: 400;
  top:calc(var(--index)*29);
  font-size: calc(var(--index));
  background-color:rgba(141, 141, 141, 0.514);
  border-radius: 10px 10px 10px 10px;
  font-size: calc(var(--index)*var(--fontSizeCoff));
  border-color: aliceblue;
  text-decoration: none;
  color: beige;
}

.main-article__color_button{
  position: relative;
  min-width: calc(var(--index)*7);
  max-height: calc(var(--index) * 1.5);
  font-weight: 400;
  margin-top: calc(var(--index)/2);
  font-size: calc(var(--index));
  background-color:rgba(141, 141, 141, 0.514);
  border-radius: 10px 10px 10px 10px;
  font-size: calc(var(--index)*var(--fontSizeCoff));
  border-color: aliceblue;
  text-decoration: none;
  color: beige;
}

.main-article__text_changer{
  position: relative;
  max-height: calc(var(--index)*8.5);
  max-width: calc(var(--index)*13);
  margin-top: calc(var(--index)/2);
  background-color: var(--blockColor);
  border-radius: 10px 10px 10px 10px;
  padding: 10px;
}

.new_font_size{
  font-weight: 400;
  font-size: calc(var(--index)*var(--fontSizeCoff));
}

.new_font_size_input{
  border-radius: 10px 10px 10px 10px;
  width: calc(var(--index)*7);
  background-color: rgba(240, 248, 255, 0.678)
}


.main-article__block_color{
  position: relative;
  margin-top: calc(var(--index)/2);
  max-height: calc(var(--index)*8.5);
  max-width: calc(var(--index)*13);
  display: grid;
  place-items: center;
  background-color: var(--blockColor);
  border-radius: 10px 10px 10px 10px;
  padding: 10px;
  overflow-y: auto;
}

.main-article__color-red, .main-article__color-green, .main-article__color-blue,
.main-article__color-visibility, .main-article__color-hover-red, .main-article__color-hover-blue,
.main-article__color-hover-visibility, .main-article__color-hover-green, .main-article__color-output,
.main-article__color-hover-output{
  position: relative;
  margin-top: calc(var(--index)/2);
  width: calc(var(--index)*7);
}


.main-article__color-output{
  text-align: center;
  border-radius: 10px 10px 10px 10px;
  background-color: rgba(240, 248, 255, 0.678)
}

.main-article__color-hover-output{
  text-align: center;
  border-radius: 10px 10px 10px 10px;
  background-color: rgba(240, 248, 255, 0.678)
}

.logout_button{
  font-size: calc(var(--index)* 1.2 *var(--fontSizeCoff));
  text-decoration: none;
  padding: 3px;
  background-color: rgba(141, 141, 141, 0.514);
  border-radius: 10px 10px 10px 10px;
  color: beige;
}

.main-article__copy{
  position: absolute;
  bottom: calc(var(--index)*2.5);
  left: calc(var(--index)*5.5);
  align-items: center;
  text-align: center;
  z-index: 3;
}

.main-header__copy{
  position: absolute;
  bottom: calc(var(--index)*2.5);
  left: calc(var(--index)*5.5);
  align-items: center;
  text-align: center;
  z-index: 3;
}