<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link th:href="@{css/main.css}" rel="stylesheet" >
  <script th:src="@{/js/app.js}" defer></script>
  <script th:src="@{/js/check-password.js}" defer></script>
  <title>Document</title>
</head>
<body>
  <header class="main-header">
    <div class="layers">
      <div class="layer__header">
        <div class="layers__caption">Welcome to Messenger</div>
        <div class="layers__title">"The best way to be everywhere"</div>
      </div>
      <div class="layer layers__base" style="background-image:url(/img/mount.jpg);"></div>
      <div class="layer layers__middle" style="background-image:url(/img/mount-middle.png);"></div>
      <div class="layer layers__front" style="background-image:url(/img/mount-front.png);"></div>
      <div class="main-header__copy" >© Arrkadique</div>
    </div>
  </header>

  <article class="main-article" style="background-image:url(/img/second.jpg);">
    <div class="main-article__content">
      <div class="main-article__container">
        <h2 class="main-article__header">Login</h2>
        <form th:action="@{/login}" method="post">
          <input class="main-article__email" name="username" placeholder="Username">
          <input class="main-article__password" name="password" id="password_input" type="password" required placeholder="Password">
          <input type="submit" class="main-article__enter_button" value="Enter">
        </form>
        <input type="image" src="/img/view.png" id="check_button" class="check_password" onclick="show_hide_password('check_button','password_input');">
        <a class="main-article__register" th:href="@{/registration}">Register?</a>
      </div>
    </div>
    <div class="main-article__copy">© Arrkadique</div>
  </article>
</body>
</html>